<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <div class="container">
        <h1>Lista de usuários</h1>
        <ul class="list-group">
          <li *ngFor="let user of users" class="list-group-item d-flex justify-content-betweem">
              <a [href]="'/user/'+user.id">{{user.first_name}}</a>
              <span class="badge"><img [src]="user.avatar" alt="Imagem fornecida pela API"></span>
          </li>
        </ul>
      </div>
      <pre>{{users | json}}</pre>
  </body>
</html>
